@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  color: #101723;
  background: #f5f7fa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
